.App {
    text-align: center;
}

body {
    background-color: whitesmoke;
}

h1 {
    color: rgb(59, 92, 9);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 3rem;
}

h2 {
    color: rgb(59, 92, 9);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2rem;
}

h3 {
    color: rgb(59, 92, 9);
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.5rem;
}

h4,
h5,
h6 {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1rem;
}

p {
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}
